@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: GolosText, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
}
.button {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  gap: 15px;
  overflow: hidden;
  cursor: pointer;
}
