.container {
    padding: 0 10px;
    margin-top: 40px;

    .main {
        font-size: 15px;
        color: black;
    }

    .path {
        font-size: inherit;
        color: #15B167;
    }
}